.htpasswd
*.o
TODO
db/
chartdata
civet.conf*
old/
build/
logs/
timers.txt
lib/
bin/
server.pem
certs/
ifttt/
apikey
html/api/index.html
testingthings/
makehub
switch
push
rub
timer.txt